
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="iot,iottech,iottechn" />
</head>
<body>
    <h1>Siris</h1>
    <h2>IoT team</h2>
    <hr />
    <form action="Index" method="post" name="Login">
        Username:<input type="text" name="username" />
        Password:<input type="password" name="password" />
        <input type="submit" name="submit" value="Login" />
    </form>
</body>
</html>

