@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    ViewBag.Title = "CreateStep";
}
<h2>Create New Step</h2>

<div class="input-group">
    <span class="input-group-addon">Step Name</span>
    <input type="text" class="form-control" placeholder="Enter Step Name">
</div>
<div class="input-group">
    <span class="input-group-addon">Description</span>
    <input type="text" class="form-control" placeholder="Description Step">
</div>
<div class="input-group">
    <span class="input-group-addon">Last Update by</span>
    <input type="text" class="form-control" placeholder="Enter Step Name">
</div>
<div class="checkbox">
    <label>
        <input type="checkbox"> Active
    </label>
</div>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
</div>