@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<p>Choose actions:</p>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">New Step</button>
    <button type="button" class="btn btn-default">View Step</button>
    <button type="button" class="btn btn-default">Edit Step</button>
</div>